{% extends '@App/adminlte/layout.html.twig' %}

{% block main_title %}Inicio{% endblock main_title %}

{% block main_breadcrumb %}
    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Inicio</a></li>
{% endblock main_breadcrumb %}

{% block main_container %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ taxpayerTotals.total }}</h3>
                    <p>Contribuyentes <br> Registrados</p>
                </div>
                <div class="icon">
                    <i class="fa fa-info"></i>
                </div>
                <a href="{{ path('taxpayer') }}" class="small-box-footer">
                    Listar <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ taxpayerTotals.solvent }}</h3>
                    <p>Contribuyentes <br> Solventes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check"></i>
                </div>
                <a href="{{ path('taxpayer', { filter: 'solvent' }) }}" class="small-box-footer">
                    Listar <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ taxpayerTotals.gracePeriod }}</h3>
                    <p>Contribuyentes <br> En periodo de gracia</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <a href="{{ path('taxpayer', { filter: 'gracePeriod' }) }}" class="small-box-footer">
                    Listar <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ taxpayerTotals.insolvent }}</h3>
                    <p>Contribuyentes <br> Insolventes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-warning"></i>
                </div>
                <a href="{{ path('taxpayer', { filter: 'insolvent' }) }}" class="small-box-footer">
                    Listar <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock main_container %}
