{% extends '@App/adminlte/base_layout.html.twig' %}

{% block head_title %}SUMAT{% endblock head_title %}

{% block styles %}

    {# bootstrap 3.3.7 #}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/bootstrap/3.3.7/css/bootstrap.min.css') }}">

    {# font-awesome 4.7.0 #}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/font-awesome/4.7.0/css/font-awesome.min.css') }}">

    {# adminlte 2.4.8 #}
    <link rel="stylesheet" href="{{ asset('bundles/app/adminlte/2.4.8/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/adminlte/2.4.8/css/skins/all-skins.min.css') }}">

    {# datatables 1.10.18 #}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/datatables/1.10.18/css/datatables-bootstrap3-all.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/bootstrap-select/1.13.9/css/bootstrap-select.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/toastr/2.1.4/css/toastr.min.css') }}">


    {# google fonts #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {# custom #}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/custom.css') }}">

{% endblock styles %}

{% block scripts %}

    {# jquery 3.3.1 #}
    <script type="text/javascript" src="{{ asset('bundles/app/jquery/3.3.1/js/jquery-3.3.1.min.js') }}"></script>

    {# bootstrap 3.3.7 #}
    <script type="text/javascript" src="{{ asset('bundles/app/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>

    {# adminlte 2.4.8 #}
    <script type="text/javascript" src="{{ asset('bundles/app/adminlte/2.4.8/js/adminlte.min.js') }}"></script>

    {# datatables 1.10.18 #}
    <script type="text/javascript" src="{{ asset('bundles/app/datatables/1.10.18/js/datatables-bootstrap3-all.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/app/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/bootstrap-select/1.13.9/js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/jquery-mask-money/3.1.1/js/jquery.maskMoney.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/jquery-mask-plugin/1.14.15/js/jquery.mask.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/toastr/2.1.4/js/toastr.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

{% endblock scripts %}

{% block header_logo %}

    <a href="{{ path('homepage') }}" class="logo">
        <span class="logo-mini"></span>
        <span class="logo-lg">SUMAT</span>
    </a>

{% endblock header_logo %}

{% block header_widgets %}

    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ asset(app.user.img|default('bundles/app/img/user.png')) }}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ app.user.fullName|default }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="user-header">
                <img src="{{ asset(app.user.img|default('bundles/app/img/user.png')) }}" class="img-circle" alt="User Image">
                <p>
                    {{ app.user.fullName|default }}
                    <small>Usuario desde el {{ app.user.createdAt|default ? app.user.createdAt|date('d/m/Y') }}</small>
                </p>
            </li>
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{{ path('user_profile') }}" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Salir</a>
                </div>
            </li>
        </ul>
    </li>

{% endblock header_widgets %}

{% block aside_widgets %}

    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ asset(app.user.img|default('bundles/app/img/user.png')) }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{ app.user.fullName|default }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

{% endblock aside_widgets %}

{% block aside_nav %}
    <ul id="nav-active" class="sidebar-menu" data-widget="tree" data-url="{{ app.request.pathinfo }}">
        <li class="header">MENÚ</li>
        <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i><span>Inicio</span></a></li>
        <li><a href="{{ path('tax_return') }}"><i class="fa fa-money"></i><span>Declaraciones</span></a></li>
        <li><a href="{{ path('taxpayer') }}"><i class="fa fa-users"></i><span>Contribuyentes</span></a></li>

        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('economic_activity') }}"><i class="fa fa-industry"></i><span>Actividades Economicas</span></a></li>
            <li><a href="{{ path('under_construction', { section: 'report' }) }}"><i class="fa fa-area-chart"></i><span>Reportes</span></a></li>
            <li><a href="{{ path('user') }}"><i class="fa fa-user-plus"></i><span>Usuarios</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa fa-history"></i> <span>Historiales</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('history_session') }}"><i class="fa fa-circle-o"></i>Sesiones</a></li>
                    <li><a href="{{ path('history_request') }}"><i class="fa fa-circle-o"></i>Peticiones</a></li>
                    <li><a href="{{ path('under_construction', { section: 'about' }) }}"><i class="fa fa-circle-o"></i>Operaciones</a></li>
                </ul>
            </li>
            <li><a href="{{ path('settings') }}"><i class="fa fa-cogs"></i><span>Configuraciónes</span></a></li>
        {% endif %}
    </ul>
{% endblock aside_nav %}

{% block footer_container %}
        <div class="pull-right hidden-xs">
            Desarrollado por Miguel Malavé.
        </div>
        <strong>Copyleft 2019. División de Estadistica e Informatica</strong>.
{% endblock footer_container %}
